@use '../../../styles.scss' as *;

.formParticipation {
    width: 100%;
    min-height: 80vh;
    height: fit-content;
    padding: 40px;
    background-color: #F3EFF5;
    border-top-right-radius: 120px;
    color: black;

    display: flex;
    flex-direction: column;

    font-family: 'Mulish', sans-serif;

    header {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .survey-meta {
            .published-icon {
                width: 85px;
                height: 26px;
                margin-bottom: 5px;
            }

            .survey-meta__info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-weight: 500;
                font-size: 14px;
            }
        }

        h1 {
            font-size: clamp(48px, 5vw, 56px);
            font-family: 'NerkoOne', sans-serif;
            color: $primary-color;
            font-weight: 400;
        }

        h3 {
            font-weight: 500;
            font-size: 16px;
        }

    }

    section {
        margin-top: 30px;
        display: grid;
        align-items: start;
        justify-content: start;
        grid-template-columns: repeat(2, 50%);

        .queston-area {
            margin-bottom: 20px;

            .queston-header {
                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    font-style: bold;
                    margin-bottom: 5px;
                }

                margin-bottom:20px;
            }

            .userFeedback {
                font-size: 14px;
                font-weight: 400;
                margin-left: 20px;
            }

            .answer-option {
                margin-left: 20px;
                display: flex;
                flex-direction: column;

                .check-icon {
                    width: 15px;
                }

                div {
                    @include flex-start;
                    gap: 20px;
                    min-width: 50%;
                    width: fit-content;
                }

                .singel-answer {
                    cursor: pointer;
                    padding: 3px;

                    &:hover {
                        background-color: $inactive-color;
                        border-radius: 8px;
                    }
                }


            }
        }
    }
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    color: red;
}

.submit-btn {
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    width: fit-content;
    background-color: $secondary-color;

    font-size: 18px;
    font-weight: 700;

    &:hover {
        background-color: $inactive-color;
    }
}

.dnone {
    display: none;
}

.queston-conatiner {
    display: flex;
    flex: 1;
}


@media (max-width: 1000px) {
    .formParticipation {
        min-height: fit-content;
    }
}

@media (max-width: 600px) {
    section {
        display: flex !important;
        flex-direction: column;
    }

    .button-container {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
}