<form class="formParticipation">
    <header>
        <div class="survey-meta">
            <img class="published-icon" src="assets/img/CeateSurvey/published.png">
            <div class="survey-meta__info">
                <p>Ends on {{surveyInfo()[0].ends_at}}</p>
                <p>Category:{{ surveyInfo()[0].category }}</p>
            </div>
        </div>
        <h1>{{ surveyInfo()[0].title }}</h1>
        <h3>{{ surveyInfo()[0].description }}</h3>
    </header>
    <section class="queston-conatiner">
        <div class="queston-area" *ngFor="let question of surveyQuestons(),let i = index">
            <div class="queston-header">
                <h2>{{ i + 1 }}. {{ question.question }}</h2>
                <p class="userFeedback" [class.dnone]="!question.allowMultiple">More than one answers are possible.</p>
            </div>

            <div class="answer-option" *ngFor="let answer of question.answers; let i = index"
                (click)="toggleAnswer(question, i)">
                <div class="singel-answer">
                    <img class="check-icon" [src]="isAnswerSelected(question, i)
                        ? 'assets/img/CeateSurvey/checkbox_fokus.png'
                        : 'assets/img/CeateSurvey/checkboxs.png'">
                    <p><strong>{{letters[i]}}</strong>{{answer}}</p>
                </div>
            </div>
        </div>
    </section>
 <div class="button-container">
        <p [class.dnone]="!notAllAnswersSelected">Please answer all questions.</p>
        <button class="submit-btn" (click)="submitVoting()" type="button">Complete survey</button>
        </div>
</form>
