@use '../../styles.scss' as *;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $home-bg;
    background-repeat: repeat;
    min-height: 100vh;
    min-width: 100%;
    color: white;
    padding: 0 clamp(5px, 5vw, 120px) 0 clamp(5px, 5vw, 120px);
}

header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    aside {
        display: flex;
        flex-direction: column;

        .Poll-Logo {
            padding-top: 40px;
            width: 140px;
        }
    }

    .h1-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            max-width: 900px;
            padding-top: 60px;
            color: $primary-color;
            font-size: clamp(40px, 7vw, 100px);
            font-family: 'NerkoOne', sans-serif;
            font-weight: 400;
        }
    }
}

.lead-description {
    font-size: clamp(18px, 2vw, 24px);
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    width: 60%;
}

.button-position {
    margin-top: 40px;
}

.surveys-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    h2 {
        color: $primary-color;
        font-size: clamp(54px, 5vw, 72px);
        font-family: 'NerkoOne', sans-serif;
        font-weight: 400;
    }
}

.survey-group {
    width: 100%;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;

    h3 {
        font-size: clamp(24px, 3vw, 32px);
        font-family: 'Mulish', sans-serif;
        font-weight: 500;
    }
}

.overviw-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.survey-toolbar {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border-radius: 14px;
        color: black;
        font-size: 16px;
        height: 25px;
        width: 119px;

    }
}

.btn-active {
    background-color: $primary-color;
}

.btn-past {
    background-color: $secondary-color;

    &:hover {
        background-color: $inactive-color;
    }
}

.ending-scroll-wrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
  }
}

.ending-soon-surveys {
  display: flex;
  gap: 80px;
  width: max-content;
}

.ending-soon-area {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

.category-style {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.active-and-past-surveys {
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 10px;
        max-height: 20px;
    }
}

.hover-phone {
    position: relative;
    max-height: fit-content;

    .phone-image {
        width: clamp(300px, 5vw, 400px);
        position: relative;
        z-index: 2;
    }

    .star-image {
        width: clamp(50px, 5vw, 60px);
        position: absolute;
        bottom: 20px;
        left: 25px;
        z-index: 5;
    }

    .bubble-image {
        width: clamp(70px, 5vw, 90px);
        position: absolute;
        top: 70px;
        left: 50px;
        z-index: 5;
    }

    .question-mark-image {
        width: clamp(40px, 5vw, 60px);
        position: absolute;
        top: 0px;
        right: 25px;
        rotate: 10deg;
        z-index: 5;
    }

    .tick-image {
        width: clamp(50px, 5vw, 60px);
        position: absolute;
        top: 250px;
        right: 50px;
        z-index: 1;
    }

    &:hover {
        .star-image {
            transition: 300ms steps(1);
            transform: translateX(-15px)
        }

        .bubble-image {
            transition: 300ms steps(1);
            transform: translateX(-10px) scale(1.5)
        }

        .question-mark-image {
            transition: 300ms steps(1);
            transform: rotate(-10deg) translateX(-10px)
        }

        .tick-image {
            transition: 300ms steps(1);
            transform: translateX(30px)
        }
    }
}

.flex-center {
    @include flex-center;
    width: 100%;
}


@media (max-width: 940px) {
    .h1-container {
        justify-content: start;
        flex-direction: column;

        h1 {
            margin-bottom: 30px;
        }
    }

    .lead-description {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .surveys-section {
        width: 100%;
    }

    .category-style{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
}

@media (max-width: 550px) {
    .survey-toolbar{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        margin-bottom: 30px;
    }

    .button-position{
        @include flex-center
    }
}

@media (max-width: 370px) {
   main{
    padding-left: 8px;
    padding-right: 5px;
   }
   
}

