<main class="max-width-content">
    <section class="create-survey">
        <img class="logo-possition" src="assets/img/Logo-dark.png">
        <img [src]="publishedIconPath">
        <header>
            <h1>Create new survey</h1>
            <button class="form-btn-brown X-mobile" type="button" routerLink=""><span class="dnone-mobile">Cancel</span><img
                    src="assets/img/CeateSurvey/X.png"></button>
        </header>

        <form [formGroup]="surveyForm" class="formGroup">
            <section class="survey-details">
                <div class="title_Section">
                    <label class="padding-bottom-5px" for="title">Survey name</label>
                    <div class="input-group"><input id="title" type="text" formControlName="title"
                            [class.invalid]="surveyForm.get('title')?.invalid && surveyForm.get('title')?.touched">
                        <img (click)="cleanInput('title')" class="delete-icon" src="assets/img/CeateSurvey/delete.png">
                    </div>

                    <label class="padding-top-10px padding-bottom-5px" for="end_at">Set end date (optional)</label>
                    <div class="input-group category-container">
                        <div class="date-contaoner"> <input style="width: 60%;" id="end_at" type="text" formControlName="end_at">
                            <img (click)="cleanInput('end_at')" class="delete-icon"
                                src="assets/img/CeateSurvey/delete.png">
                        </div>
                        <app-dropdown-menu headline="Choose category" (surveySelected)="handleSurveyChange($event)"></app-dropdown-menu>
                    </div>
                </div>
                <div class="description_Section">
                    <label class="padding-bottom-5px" for="description">Description text (optional)</label>
                    <div class="input-group input-group-description">
                        <textarea formControlName="description" class="description-input" id="description"
                            type="text"></textarea>
                        <img (click)="cleanInput('description')" class="delete-icon"
                            src="assets/img/CeateSurvey/delete.png">
                    </div>
                </div>
            </section>
            <form [formGroup]="questionsForm">
                <section class="survey-details questions-section" formArrayName="questions">

                    <div class="question-container" *ngFor="let question of questions.controls; let i = index"
                        [formGroupName]="i">
                        <div class="input-group quetson-titl">
                            <label for="question-{{i}}">{{i + 1}}. Question</label>
                            <img (click)="deleteQuestion(i)" class="delete-icon"
                                src="assets/img/CeateSurvey/delete.png">
                        </div>
                        <input [id]="'question-' + i" type="text" formControlName="question"
                            [class.invalid]="questions.at(i).get('question')?.invalid && questions.at(i).get('question')?.touched">

                        <div class="answer-container possition-checkboxs">
                            <h3>Answers</h3>
                            <p class="checkbox"><img (click)="AlowMultiAnswers(i)" class="input-checkbox"
                                    [class.no-hover]="questions.at(i).get('allowMultiple')?.value" [src]="questions.at(i).get('allowMultiple')?.value
                                ? 'assets/img/CeateSurvey/checkbox_fokus.png'
                                : 'assets/img/CeateSurvey/checkboxs.png'">
                                Allow multiple answers.</p>
                        </div>
                        <div formArrayName="answers" style="width: 100%;">
                            <div class="answer-input-container"
                                *ngFor="let answer of answers(i).controls; let y = index">
                                <p class=" answer-input">{{letters[y]}}
                                    <input [id]="'answer-' + i + '-' + y" type="text" [formControlName]="y"
                                        [class.invalid]="questions.at(i).get('question')?.invalid && questions.at(i).get('question')?.touched">
                                    <img (click)="deleteAnswer(i, y)" class="delete-icon"
                                        src="assets/img/CeateSurvey/delete.png">
                                </p>
                            </div>
                        </div>
                        <button type="button" class="add-answer-btn" [disabled]="answers(i).length >= 6"
                            (click)="addAnswer(i)">Add answer
                            <img src="assets/img/CeateSurvey/add_circle_with.png"></button>
                    </div>
                    <div class="question-container mobile-brown-btn">
                        <button class="form-btn-brown add-question-btn" [disabled]="questions.length >= 4" type="button"
                            (click)="addQuestion()">Add next
                            question<img src="assets/img/CeateSurvey/add_circle_with.png"></button>
                    </div>
                </section>
            </form>
        </form>
        <div class="btn-Supmit">
            <button (click)="checkFormValue()" type="submit" class="publishBtn" type="submit"
                [disabled]="!questionsForm.valid">Publish
                <img src="assets/img/CeateSurvey/check-btn.png">
            </button>
        </div>
    </section>
    <article class="userFeedBack" [class.dnone]="!showUserFeedack">
        <div class="userMessage">
            <i>Your survey is now published</i>
            <img (click)="clearForm()" src="assets/img/CeateSurvey/X.png">
        </div>
    </article>
</main>